@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.ttf);
  }
  @font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
  }
  @font-face {
    font-family: OpenSans-SemiBold;
    src: url(fonts/OpenSans-SemiBold.ttf);
  }
  @font-face {
    font-family: QuattrocentoSans-Blod;
    src: url(fonts/QuattrocentoSans-Bold.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans, sans-serif;
    font-weight: normal;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background: white;
}
/* .row>*{
    padding: 0;
} */
/* Style Nav-menu */
#nav{
    height: 80px;
    background-color: #1d2126;
}
#nav .row{
    display: flex;
    height: 80px;
    line-height: 80px;
    justify-content: space-between;
}
#nav ul li{
 display: inline-block;
 margin-left: 12px;
}
#nav ul a{
    color: #a4aead;
    font-family: OpenSans-SemiBold, sans-serif;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0px 12px;
    border-radius: 3px;
}
#nav li:first-child a{
    color: #23b7a4;
    border: solid 2px #23b7a4;
}
#nav ul a:hover{
    border: solid 2px #5b6168;
    text-decoration: none;
    padding: 0px 10px;
}
#nav ul li:first-child a:hover{
    padding: 0px 12px;
    color: #ffffff;
    border: solid 2px #23b7a4;
    background: #23b7a4;
}

/* Style Header */
#header{
    background-color: #364057;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    
}
#header>div>div>div{
    margin-top:222px;
}
#header h1{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    color:white;
    font-family: QuattrocentoSans-Blod,sans-serif;
    margin-bottom: 24px;
}
#header p{
    font-size: 16px;
    line-height: 26px;
    color: #ccd0d7;
    margin-bottom: 25px;
}
#header #actions a{
    display: inline-block;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    color:white;
    font-family: QuattrocentoSans-Blod,sans-serif;
    padding-left:24px;
    padding-right:30px;
    margin-right:10px;
    border: solid 2px white;
    border-radius: 5px;
    text-transform: uppercase;
}
#header #actions a:hover{
    border: solid 2px #23b7a4;
    border-radius: 5px;
    background-color: #23b7a4;
    text-decoration: none;
}
#header #nextprev{
    text-align: right;
}
#header #nextprev a{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 2px white;
    margin-left: 8px;
}
#header #nextprev a:nth-child(2){
    background-color: white;
}
/* style modest */
#modest{
    height: 610px;
    padding-top:84px;
    counter-reset: modestCount;
    border-bottom: 1px solid #dde1e4;
}
#modest h2{
    font-size: 36px;
    line-height: 42px;
    color:#292f36;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    margin-bottom: 57px;
}
#modest p{
    font-size: 16px;
    line-height: 26px;
    color:#8d8f92;
}
#modest p span{
    font-family: OpenSans-Bold, sans-serif;
}
#modest #socials{
    margin-top: 40px;
}
#modest #socials a{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    text-align: center;
    line-height: 60px;
    margin-right: -3px;
}
#modest #socials a:hover{
    background-color: #d0d5d9;
}
#modest #socials a img{
    display: inline;
}
#modest ul li{
    position: relative;
    margin-bottom: 30px;
    padding-left: 70px;
}
#modest ul li h3 a{
    font-size: 18px;
    line-height: 18px;
    color:#292f36;
    text-align: start;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
}
#modest ul li p{
    font-size: 16px;
    line-height: 26px;
    color:#8d8f92;
}
#modest ul li::before{
    counter-increment: modestCount;
    display: inline-block;
    content: counter(modestCount,decimal-leading-zero);
    font-size: 20px;
    line-height: 50px;
    color:#fff;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: #23b7a4;
    position: absolute;
    top:0;
    left:0;
}

/* Style Teams */
#teams{
    padding-top: 82px;
}
#teams h2{
    font-size: 36px;
    line-height: 42px;
    color: #292f36;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    margin-bottom: 60px;
    border-left: #e1e6ea 10px solid;
    margin-left: 15px;
}
#teams li{
    position: relative;
    margin-bottom: 100px;
}

#teams .infoTeam{
    background-color: #e1e6ea;
    width: 263px;
    padding-left: 20px;
}
#teams li:hover .infoTeam{
    background-color: #3a454d;
}
#teams .infoTeam h3{
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
    padding-top: 20px;
}
#teams .infoTeam h3 a{
    color: #292f36;
    font-size: 16px;
    line-height: 16px;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
}
#teams .infoTeam p{
    color: #8d8f92;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 18px;
    margin-bottom: 0px;
}
#teams li:hover .infoTeam *{
    color: white;
    text-decoration: none;
}
#teams .contacts{
    display: none;
    position: absolute;
    width: 263px;
    height: 300px;
    line-height: 300px;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.4);
    margin-left:15px;
    text-align: center;
}
#teams li:hover .contacts{
    display: block;
}
#teams .contacts a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #3a454d;
    text-align: center;
    line-height: 50px;
}
#teams .contacts a:hover {
    background-color: #4e5a62;
}

/* Style works */
#works{
    background-color: #3a454d;
    padding-top: 80px;
}
#works h2{
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-left: #4e5a62 10px solid;
    margin-left: 15px;
}
#works li{
    position: relative;
    margin-top:30px;
}
#works li h3{
    display: none;
    position: absolute;
    width: calc(100% - 20px);
    bottom: 0;
    left: 15px;
    font-size: 18px;
    line-height: 61px;
    color: #fff;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 0px;
    background-color: #292f36;
}
#works li>a{
    display: none;
    position: absolute;
    top: 0;
    left: 15px;
}
#works li:hover>*{
    display: block;
}
#works>div>div>div>a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 20px;
    padding-right: 30px;
    border: solid 2px #fff;
    border-radius: 5px;
    margin-top: 44px;
    margin-bottom: 60px;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}
#works>div>div>div>a:hover{
    text-decoration: none;
    background-color: white;
    color: #3a454d;
}
#wedo{
    padding-top: 80px;
    padding-bottom: 160px;
}
#wedo h2{
    font-size: 36px;
    line-height: 42px;
    color: #292f36;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    border-left: #e1e6ea 10px solid;
    margin-left: 15px;
}
#wedo li{
    text-align: center;
    margin-top: 60px;
}
#wedo li img{
    margin: 30px auto;
}
#wedo li h3{
    color: #292f36;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 20px;
}
#wedo li p{
    color: #8d8f92;
    font-size: 16px;
    line-height: 26px;
}

/* style features */
#features{
    background-color: #3a454d;
    padding-top: 80px;
    padding-bottom: 115px;
}
#features h2{
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    margin-bottom: 60px;
    border-left: #4e5a62 10px solid;
    margin-left: 15px;
}
#features li h3{
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 55px;
}
#features li p{
    font-size: 16px;
    line-height: 26px;
    color: #dcdfe1;
}

/* style touch */
#touch{
    position: relative;
    padding-top: 65px;
    padding-bottom: 100px;
}
#touch h2{
    font-size: 36px;
    line-height: 42px;
    color: #292f36;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    border-left: #e1e6ea 10px solid;
    margin-left: 15px;
    margin-bottom: 60px;
}
#touch iframe {
    width: 100%;
}
#touch h3{
    font-size: 20px;
    line-height: 26px;
    color: #292f36;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 35px;
    margin-top: 60px;
}
#touch p{
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
}
#touch form {
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding:30px;
}
#touch form p{
    font-size: 14px;
    line-height: 14px;
    color: #8d8f92;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    display: inline-block;
    width: calc((100% - 75px)/2);
    /* width: 240px; */
    margin-bottom: 10px;
    padding-left: 5px;
}
#touch form p:first-child {
    margin-right: 15px;
}
#touch form input{
    width: calc((100% - 75px)/2);
    height: 44px;
    padding: 0 20px;
    text-align: center;
    background: #eaeef1;
    border: none;
    outline: none;
    /* width: 240px; */

}
#touch form input:nth-child(3) {
    margin-right: 15px;
    margin-bottom: 30px;
}
#touch form textarea:nth-child(6){
    width: calc(100% - 56px);
    margin-bottom: 30px;
    height: 160px;
    background: #eaeef1;
    padding: 20px;
    border: none;
    outline: none;
}
#touch form input:last-child{
    width: auto;
    color: #fff;
    font-family: QuattrocentoSans-Blod,sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 44px;
    padding: 0 30px;
    background-color:  #23b7a4;
}
#touch form *:not(#submit){
    display: none;
}
#touch form:hover *:not(#submit){
    display: inline-block;
}
/* style Footer */
#footer{
    background-color: #3a454d;
    height: 95px;
    line-height: 95px;
}
#footer *{
    
    margin-bottom: 0px;
}
#footer p{
    color: #fff;
    height: 95px;
    font-size: 14px;
}
#footer ul{
    text-align: right;
}
#footer li{
    display: inline-block;
    text-align: right;
    margin-left: 20px;
}
#footer li:first-child{
    margin-left: 0px;
}